/* ================= PROGRESS ================= */

.progress {
  position: relative;
  width: 100%;
  height: 18px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 12px 0;

  .bar {
    height: 100%;
    transition: width 0.4s ease;

    &.upload { background: #2196f3; }
    &.processing { background: #ff9800; }
  }

  .label {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
  }
}
p-button{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;;
}