<div class="overlay">

  <h3>{{ scene.name }}</h3>

  <p-button
    icon="pi pi-copy"
    label="Copy as New Scene"
    styleClass="p-button-sm p-button-info"
    (onClick)="onCopyAsNewScene()">
  </p-button>

  <ul class="song-list">
    <li
      *ngFor="let item of scene.items; let i = index"
      [class.active]="isSelected(i)"
      (click)="onSelect(i)">

      <span class="song-name">
        {{ item.song.originalName }}
      </span>

      <p-button
        *ngIf="isSelected(i)"
        label="Load"
        icon="pi pi-play"
        class="load-btn"
        styleClass="p-button-sm p-button-success"
        (onClick)="onLoad(i); $event.stopPropagation()">
      </p-button>

    </li>
  </ul>

</div>
