
/* ================= TRACK ================= */

.track {
  margin: 18px 0;
}

/* ================= WAVEFORM ================= */

.wave-wrapper {
  position: relative;
  width: 100%;
  height: 80px;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
  background: #111;
  display: block;
}

/* ================= CURSOR ================= */

.cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: red;
  pointer-events: none;
}

/* ================= CONTROLS ================= */

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 8px 0;
}

button.active {
  background: #4caf50;
}

/* ================= KNOBS ================= */

.knob-panel {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.knob-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
}

.knob {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #222;
  border: 2px solid #555;
  transform: rotate(var(--rot));
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 14px;
    background: white;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.knob-group button {
  margin-top: 4px;
  font-size: 10px;
  padding: 2px 6px;
}

/* ================= LED ================= */

.led-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
}

.led {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #400;
  cursor: pointer;

  &.on {
    background: #0f0;
    box-shadow: 0 0 6px #0f0;
  }
}

.label {
  font-weight: bold;
  margin-bottom: 4px;
}
p-button{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;;
}