<!-- ================= UPLOAD ================= -->
<music-upload
  (uploadFinished)="onProcessCompleted()"
  (uploadFailed)="onUploadFailed($event)">
</music-upload>


<p-tabView
  *ngIf="scenes?.length"
  [(activeIndex)]="activeSceneIndex"
  (onChange)="onSceneTabChange($event.index)">

  <p-tabPanel
    *ngFor="let scene of scenes; let i = index"
    [header]="scene.name">

    <scene-player-tab
      [scene]="scene"
      [isActive]="i === activeSceneIndex"
      (sceneUpdated)="onSceneUpdated($event)"
      (sceneCopied)="onSceneCopied($event)">
    </scene-player-tab>

  </p-tabPanel>

</p-tabView>


