<!-- ================= HEADER ACTIONS ================= -->
<div class="dashboard-header">
  <music-upload
    (processCompleted)="onProcessCompleted()"
    (uploadFailed)="onUploadFailed($event)">
  </music-upload>

  <p-button
    label="Invite Members"
    icon="pi pi-users"
    styleClass="p-button-outlined p-button-secondary invite-button"
    (onClick)="openInviteModal()">
  </p-button>

  <p-button
    label="Chat"
    icon="pi pi-comments"
    styleClass="p-button-outlined p-button-primary chat-button"
    (onClick)="toggleChat()">
    <ng-template pTemplate="content">
      <span>
        <i class="pi pi-comments" style="margin-right: 0.5rem;"></i>
        Chat
        <p-badge *ngIf="unreadMessageCount > 0" [value]="unreadMessageCount.toString()" severity="danger" style="margin-left: 0.5rem;"></p-badge>
      </span>
    </ng-template>
  </p-button>
</div>

<p-tabView
  *ngIf="scenes?.length"
  [(activeIndex)]="activeSceneIndex"
  (onChange)="onSceneTabChange($event.index)">

  <p-tabPanel
    *ngFor="let scene of scenes; let i = index"
    [disabled]="isRecordingInProgress && i !== activeSceneIndex">

    <ng-template pTemplate="header">
      <span *ngIf="editingSceneIndex !== i" class="scene-tab-header">
        {{ scene.name }}
        <p-button
          icon="pi pi-pencil"
          styleClass="p-button-sm p-button-text p-button-rounded"
          (onClick)="startEditingScene(i); $event.stopPropagation()">
        </p-button>
      </span>

      <span *ngIf="editingSceneIndex === i" class="scene-tab-header-edit">
        <input
          type="text"
          pInputText
          [(ngModel)]="editingSceneName"
          maxlength="40"
          (keyup.enter)="saveEditingScene(i); $event.stopPropagation()"
          (keyup.escape)="cancelEditingScene(); $event.stopPropagation()"
          (click)="$event.stopPropagation()"
          #sceneNameInput
        />
        <p-button
          icon="pi pi-check"
          styleClass="p-button-sm p-button-success p-button-text"
          (onClick)="saveEditingScene(i); $event.stopPropagation()">
        </p-button>
        <p-button
          icon="pi pi-times"
          styleClass="p-button-sm p-button-danger p-button-text"
          (onClick)="cancelEditingScene(); $event.stopPropagation()">
        </p-button>
      </span>
    </ng-template>

    <scene-player-tab
      [scene]="scene"
      [isActive]="i === activeSceneIndex"
      [allSongs]="songs"
      [groupId]="userGroupId"
      (sceneUpdated)="onSceneUpdated($event)"
      (sceneCopied)="onSceneCopied($event)"
      (sceneDeleted)="onSceneDeleted($event)"
      (songDeleted)="onSongDeleted($event)"
      (toggleSharing)="onToggleSceneSharing($event)"
      (jammingSaved)="onJammingSaved()"
      (recordingStateChanged)="onRecordingStateChanged($event)">
    </scene-player-tab>

  </p-tabPanel>

</p-tabView>

<!-- ================= INVITE MODAL ================= -->
<app-invite-modal
  *ngIf="showInviteModal"
  [currentScene]="scenes[activeSceneIndex]"
  (closeModal)="closeInviteModal()">
</app-invite-modal>

<!-- ================= CHAT SIDEBAR ================= -->
<p-sidebar
  [(visible)]="showChat"
  position="right"
  [style]="{width: '400px'}"
  [showCloseIcon]="true">
  <ng-template pTemplate="header">
    <h3 style="margin: 0;">Group Chat</h3>
  </ng-template>

  <div *ngIf="!hasGroup" class="no-group-message">
    <i class="pi pi-users" style="font-size: 3rem; opacity: 0.5; margin-bottom: 1rem;"></i>
    <p>You need to create a group first to use chat.</p>
    <p-button
      label="Create Group"
      icon="pi pi-plus"
      (onClick)="openInviteModal(); showChat = false;">
    </p-button>
  </div>

  <app-chat
    *ngIf="hasGroup && userGroupId"
    [groupId]="userGroupId"
    style="height: calc(100vh - 120px); display: block;">
  </app-chat>
</p-sidebar>

<!-- ================= TOAST MESSAGE ================= -->
<p-toast></p-toast>
